block variables
doctype html
html
  head
    script(src="/jquery-3.5.1.min.js")
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | pressTheButton
    link(rel="stylesheet" href="/style.css")
  body
    div#root
      block layout-content